# 依赖目录
node_modules/

# 日志文件
logs/

# 环境变量文件
.env
.env.local
.env.*.local

# 编辑器配置
.idea/
.vscode/
*.swp
*.swo

# 操作系统文件
.DS_Store
Thumbs.db

# 构建产物
/dist/
/build/

# 测试报告
coverage/

# npm 日志
npm-debug.log*
 yarn-debug.log*
 yarn-error.log*

# 其他
*.log
*.gz